// Colours
$colors-dark: (
  "background-primary": #222222,
  "background-secondary": #2d2d30,
  "error": "",
  "primary": "",
  "secondary": "",
  "text-primary": #dddddd,
  "text-secondary": "",
);

$colors-light: (
  "background-primary": #efefef,
  "background-secondary": #ffffff,
  "error": "",
  "primary": "",
  "secondary": "",
  "text-primary": #222222,
  "text-secondary": "",
);

$colors: (
  "dark": $colors-dark,
  "light": $colors-light,
);

// Default spacing utility
$spacing: 8;

// Base breakpoint values (used in calculations without `px` value)
$breakpoint-xs: 0;
$breakpoint-sm: 600;
$breakpoint-md: 960;
$breakpoint-lg: 1264;
$breakpoint-xl: 1904;

// Sizing
$btn-height: 40px;
// $btn-size-sm: 100px;
// $btn-size-md: 160px;
// $btn-size-lg: 200px;
// $btn-spacing: 24px; // Spacing between buttons
// $input-size-xs: 80px;
// $input-size-sm: 160px;
// $input-size-md: 280px;
// $input-size-lg: 360px;

$text-titles: (
  "h1": (
    "size": 48px,
    "height": 48px,
    "weight": 500,
  ),
  "h2": (
    "size": 36px,
    "height": 36px,
    "weight": 500,
  ),
  "h3": (
    "size": 24px,
    "height": 24px,
    "weight": 500,
  ),
  "h4": (
    "size": 18px,
    "height": 18px,
    "weight": 500,
  ),
);
