@import "./vars";
@import "./elevation";
@import "./reset";
@import "./spacing";
@import "./utilities";

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "MulishVariable", sans-serif;
  color: #2c3e50;
}

// Naive UI overrides
.n-card {
  overflow: hidden;
}
