<template>
  <svg-icon-base :path="path" type="mdi" v-bind="$attrs" />
</template>

<script lang="ts">
import { defineComponent } from "vue";
// @ts-ignore
import SvgIconBase from "@jamescoyle/vue-icon";

export default defineComponent({
  name: "SvgIcon",
  components: {
    SvgIconBase,
  },
  props: {
    path: {
      type: String,
      required: true,
    },
  },
});
</script>
