<template>
  <button :disabled="disabled" class="number" @click="onSelect">
    <svg :height="sizes.total" :width="sizes.total" class="number__progress">
      <circle
        :cx="sizes.total / 2"
        :cy="sizes.total / 2"
        :r="sizes.radius"
        :stroke-width="sizes.strokeWidth"
        stroke="#eeeeee"
        fill="transparent"
      />
      <circle
        :cx="sizes.total / 2"
        :cy="sizes.total / 2"
        :r="sizes.radius"
        :stroke-width="sizes.strokeWidth"
        :style="{ strokeDashoffset: sizes.strokeOffset }"
        :stroke-dasharray="`${sizes.circumference} ${sizes.circumference}`"
        class="number__progress__circle"
        stroke="lightblue"
        fill="transparent"
      />
    </svg>
    <div class="number__text">{{ number }}</div>
  </button>
</template>

<script lang="ts">
import { defineComponent } from "vue";

interface ISizes {
  circumference: number;
  radius: number;
  strokeOffset: number;
  strokeWidth: number;
  total: number;
}

export default defineComponent({
  name: "GameNumber",
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
    number: {
      type: [Number, String],
      required: true,
    },
    percent: {
      type: Number,
      required: true,
    },
    size: {
      type: Number,
      default: 40,
    },
  },
  emits: ["click"],
  computed: {
    sizes(): ISizes {
      const { size } = this;
      const strokeWidth = 2;
      const radius = size / 2 - strokeWidth * 2;
      const circumference = radius * 2 * Math.PI;
      const strokeOffset = circumference - this.percent * circumference;

      return {
        circumference,
        radius,
        strokeOffset,
        strokeWidth,
        total: size,
      };
    },
  },
  methods: {
    onSelect(): void {
      this.$emit("click", this.number);
    },
  },
});
</script>

<style lang="scss" scoped>
$number-size: 40px;

.number {
  width: $number-size;
  height: $number-size;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 18px;
  cursor: pointer;
  background-color: transparent;
  border: none;

  &:hover {
    &:not([disabled]) {
      .number__progress__circle {
        fill: #efefef;
      }
    }
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

.number__text {
  z-index: 1;
}

.number__progress {
  position: absolute;
}

.number__progress__circle {
  transition: stroke-dashoffset 0.35s, fill 0.25s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
</style>
