<template>
  <div class="options">
    <h3 class="options__title">Options</h3>
    <div class="options__items">
      <n-checkbox
        :checked="options.highlightSameNumber"
        size="large"
        @update:checked="
          onOptionChange({ highlightSameNumber: !options.highlightSameNumber })
        "
      >
        Highlight same numbers
      </n-checkbox>
      <n-checkbox
        :checked="options.highlightSelectedLines"
        size="large"
        @update:checked="
          onOptionChange({
            highlightSelectedLines: !options.highlightSelectedLines,
          })
        "
      >
        Highlight selected lines
      </n-checkbox>
      <n-checkbox
        :checked="options.highlightSelectedBlock"
        size="large"
        @update:checked="
          onOptionChange({
            highlightSelectedBlock: !options.highlightSelectedBlock,
          })
        "
      >
        Highlight selected block
      </n-checkbox>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";

// Types
import { IGameOptions } from "@typings";

export default defineComponent({
  name: "GameOptions",
  props: {
    /** Game options */
    options: {
      type: Object as PropType<IGameOptions>,
      required: true,
    },
  },
  emits: ["setOption"],
  methods: {
    onOptionChange(option: Partial<IGameOptions>): void {
      this.$emit("setOption", option);
    },
  },
});
</script>

<style lang="scss" scoped>
.options {
  display: flex;
  flex-direction: column;
}

.options__title {
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
}

.options__items {
  display: flex;
  flex-direction: column;

  > *:not(:first-child) {
    margin-top: 8px;
  }
}
</style>
