<template>
  <div class="actions">
    <n-button
      :ghost="!notes"
      :type="notes ? 'info' : 'primary'"
      round
      @click="onToggleNotes"
    >
      <template #icon>
        <n-icon>
          <svg-icon :path="icons.mdiNotes" />
        </n-icon>
      </template>
      Notes
    </n-button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { mdiPencil } from "@mdi/js";

export default defineComponent({
  name: "GameActions",
  props: {
    /** Whether components are disabled */
    disabled: {
      type: Boolean,
      default: false,
    },
    /** Whether note-taking is enabled */
    notes: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      icons: {
        mdiNotes: mdiPencil,
      },
    };
  },
  emits: ["toggle-notes"],
  methods: {
    onToggleNotes(): void {
      this.$emit("toggle-notes");
    },
  },
});
</script>

<style lang="scss" scoped>
.actions {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
</style>
