<template>
  <div class="number-pad">
    <game-number
      v-for="[number, uses] in Object.entries(numbers)"
      :key="number"
      :disabled="disabled || uses >= 9"
      :number="number"
      :percent="calculatePercent(number as unknown as number)"
      @click="onSelect(number)"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";

// Components
import GameNumber from "./GameNumber.vue";

// Utilities
import { CELLS_IN_GRID } from "@utilities/constants";

export default defineComponent({
  name: "GameNumberPad",
  components: {
    GameNumber,
  },
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
    /** Whether notes are being entered */
    notes: {
      type: Boolean,
      default: false,
    },
    numbers: {
      type: Object as PropType<Record<number, number>>,
      required: true,
    },
  },
  emits: ["select"],
  methods: {
    calculatePercent(number: number): number {
      // Hide progress bar while entering notes
      if (this.notes || !number) return 0;

      return this.numbers[number] / CELLS_IN_GRID;
    },
    onSelect(number: string): void {
      this.$emit("select", parseInt(number, 10));
    },
  },
});
</script>

<style lang="scss" scoped>
.number-pad {
  display: flex;
  align-items: center;
  justify-content: center;

  > *:not(:first-child) {
    margin-left: 8px;
  }
}
</style>
