<template>
  <div class="game__header">
    <n-button round type="primary">New Game</n-button>
  </div>
  <div class="game__board">
    <div v-for="(row, rowIdx) in tiles" :key="rowIdx" class="game__board__row">
      <sudoku-cell
        v-for="(cell, cellIdx) in row"
        :key="`${rowIdx}_${cellIdx}`"
        :cell="cell"
        :debug="debug"
        :error="checkError(cell)"
        :highlighted="checkHighlight(selected, cell, options)"
        :matches="checkMatch(selected, cell, options)"
        :selected="checkSelected(selected, cell)"
        @select-cell="selectCell"
      />
    </div>
  </div>
  <game-actions :notes="notesEnabled" @toggle-notes="toggleNotes" />
  <game-number-pad
    :disabled="selected?.prefilled"
    :notes="notesEnabled"
    :numbers="numberCounts"
    class="game__numbers"
    @select="toggleNumber"
  />
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";

import GameActions from "./GameActions.vue";
import GameNumberPad from "./GameNumberPad.vue";
import SudokuCell from "./SudokuCell.vue";

// Utilities
import { PuzzleType } from "@utilities/constants";
import { generateGrid } from "@utilities/generator";
import {
  checkSameBlock,
  checkSameColumn,
  checkSameRow,
  getAllRelatedCells,
} from "@utilities/sudoku";

// Types
import { ICell, IGameOptions } from "@typings";

interface IData {
  notesEnabled: boolean;
  selected: ICell | null;
  tiles: ICell[][];
}

export default defineComponent({
  name: "Game",
  components: {
    GameActions,
    GameNumberPad,
    SudokuCell,
  },
  props: {
    /** Whether game is in debug mode */
    debug: {
      type: Boolean,
      default: false,
    },
    /** Game options */
    options: {
      type: Object as PropType<IGameOptions>,
      required: true,
    },
  },
  data() {
    return {
      notesEnabled: false,
      selected: null,
      tiles: [],
    } as IData;
  },
  computed: {
    // TODO: Must refactor (this is waaaay too expensive)!
    numberCounts(): Record<number, number> {
      const numbers = [...Array(9).keys()].map((k) => k + 1);

      const numberCounts = numbers.reduce((accum, number) => {
        return {
          ...accum,
          [number]: 0,
        };
      }, {}) as Record<number, number>;

      for (let i = 0; i < this.tiles.length; i++) {
        for (let j = 0; j < this.tiles[i].length; j++) {
          const tile = this.tiles[i][j];
          if (!tile || !tile.number) continue;

          numberCounts[tile.number]++;
        }
      }

      return numberCounts;
    },
  },
  mounted() {
    this.tiles = generateGrid(PuzzleType.EASY);
  },
  methods: {
    checkError(cell: ICell): boolean {
      if (!cell.number) return false;

      // TODO: There is definitely a faster way of doing this!
      const allRelated = getAllRelatedCells(cell, this.tiles);

      return allRelated.some((c) => c.number === cell.number);
    },
    checkHighlight(
      selected: ICell | null,
      cell: ICell,
      options: IGameOptions
    ): boolean {
      if (!selected) return false;

      // TODO: Is there a faster way of doing this?
      const isSameBlock = options.highlightSelectedBlock
        ? checkSameBlock(selected, cell)
        : false;
      const isSameLines = options.highlightSelectedLines
        ? checkSameColumn(selected, cell) || checkSameRow(selected, cell)
        : false;

      return isSameBlock || isSameLines;
    },
    checkMatch(
      selected: ICell | null,
      cell: ICell,
      options: IGameOptions
    ): boolean {
      if (!selected) return false;

      // NOTE: Past bugs have resulted when this compares numbers and strings;
      //         make sure only numbers are used!
      return options.highlightSameNumber && selected.number
        ? selected.number === cell.number
        : false;
    },
    checkSelected(selected: ICell | null, cell: ICell): boolean {
      if (!selected) return false;

      return selected?.id === cell.id;
    },
    selectCell(cell: ICell | null): void {
      this.selected = cell;
    },
    toggleNotes(): void {
      this.notesEnabled = !this.notesEnabled;
    },
    toggleNumber(number: number): void {
      if (!this.selected) return;
      if (this.selected.prefilled) return;
      if (number < 1 || number > 9) return;

      if (!this.notesEnabled) {
        this.selected.number = number !== this.selected.number ? number : null;

        // TODO: Remove matching notes from related cells if now duplicated
      } else {
        const currentNotes = this.selected.notes;
        // TODO
        this.selected.notes = currentNotes.includes(number)
          ? currentNotes.filter((n) => n !== number)
          : [...currentNotes, number];
      }
    },
  },
});
</script>

<style lang="scss">
$border-color-inner: lightgrey;
$border-color-outer: grey;

.game__board__row .cell {
  border-left: 1px solid $border-color-inner;
  border-top: 1px solid $border-color-inner;
}
.game__board__row:nth-child(3n + 1) .cell {
  border-top: 2px solid $border-color-outer;
}
.game__board__row:last-child .cell {
  border-bottom: 2px solid $border-color-outer;
}
.game__board__row .cell:nth-child(3n + 1) {
  border-left: 2px solid $border-color-outer;
}
.game__board__row .cell:nth-child(9n + 9) {
  border-right: 2px solid $border-color-outer;
}
</style>

<style lang="scss" scoped>
.game__header {
  margin-bottom: 16px;
}

.game__board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game__board__row {
  display: flex;
  flex-direction: row;
}

.game__numbers {
  margin-top: 16px;
}
</style>
