<template>
  <div
    :class="{
      'is-error': error,
      'is-highlighted': highlighted,
      'is-match': matches,
      'is-prefilled': cell.prefilled,
      'is-selected': selected,
    }"
    class="cell"
    @click="onSelectCell"
  >
    <span v-if="debug" class="cell__debug">
      {{ cell.coordinates.x }}, {{ cell.coordinates.y }}
    </span>
    <span v-if="cell.number" class="cell__number">
      {{ cell.number }}
    </span>
    <sudoku-cell-notes
      v-else-if="cell.notes && cell.notes.length > 0"
      :notes="cell.notes"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";

// Components
import SudokuCellNotes from "./SudokuCellNotes.vue";

// Types
import { ICell } from "@typings";

export default defineComponent({
  name: "SudokuCell",
  components: {
    SudokuCellNotes,
  },
  props: {
    cell: {
      type: Object as PropType<ICell>,
      required: true,
    },
    debug: {
      type: Boolean,
      default: false,
    },
    error: {
      type: Boolean,
      default: false,
    },
    highlighted: {
      type: Boolean,
      default: false,
    },
    matches: {
      type: Boolean,
      default: false,
    },
    selected: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["selectCell"],
  methods: {
    onSelectCell() {
      this.$emit("selectCell", this.cell);
    },
  },
});
</script>

<style lang="scss" scoped>
$color-highlighted: #f0faff;
$color-matches: #d0effd;
$color-selected: #b3e5fc;
$color-error: #fdd8dc;
$size: 48px;

.cell {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $size;
  width: $size;
  cursor: pointer;
  user-select: none;

  &:not(.is-prefilled) {
    color: black;
  }

  &.is-prefilled {
    color: grey;
  }

  &.is-highlighted {
    background-color: $color-highlighted;
  }

  &.is-match {
    background-color: $color-matches;
  }

  &.is-error {
    background-color: $color-error;
  }

  &.is-selected {
    background-color: $color-selected;
  }
}

.cell__debug {
  position: absolute;
  top: 2px;
  left: 4px;
  font-size: 9px;
  color: darkgrey;
}

.cell__number {
  font-size: 24px;
}
</style>
