<template>
  <div class="notes">
    <div v-for="(row, rowIdx) in numbersGrid" :key="rowIdx" class="notes__row">
      <span v-for="(cell, cellIdx) in row" :key="cellIdx" class="notes__cell">
        {{ cell }}
      </span>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "SudokuTileNotes",
  props: {
    notes: {
      type: Array,
      default: (): [] => [],
    },
  },
  data() {
    return {
      numbers: [
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9],
      ],
    };
  },
  computed: {
    numbersGrid(): (number | null)[][] {
      return this.numbers.map((row: number[]) =>
        row.map((cell: number) => (this.notes.includes(cell) ? cell : null))
      );
    },
  },
});
</script>

<style lang="scss" scoped>
$size: 12px;

.notes {
  display: flex;
  flex-direction: column;
}

.notes__row {
  display: flex;
  flex-direction: row;
}

.notes__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $size;
  height: $size;
  font-size: 12px;
  color: grey;
}
</style>
