<template>
  <div class="app">
    <header class="header">
      <h2>Sudoku</h2>
    </header>
    <n-checkbox v-model:checked="debug" class="mb-sm" size="large">
      Debug
    </n-checkbox>
    <game :debug="debug" :options="options" />
    <game-options
      :options="options"
      class="game__options"
      @set-option="setOption"
    />
    <footer class="footer">
      <div class="footer__links">
        <a :href="config.gitUrl" class="footer__link" target="_blank">GitLab</a>
      </div>
      <div class="footer__version">v{{ config.version }}</div>
    </footer>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

// Components
import Game from "@components/Game.vue";
import GameOptions from "@components/GameOptions.vue";

// Utilities
import config, { IConfig } from "@config";

// Types
import { IGameOptions } from "@typings/sudoku";

interface IData {
  config: IConfig;
  debug: boolean;
  options: IGameOptions;
}

export default defineComponent({
  name: "App",
  components: {
    Game,
    GameOptions,
  },
  data() {
    return {
      config,
      debug: false,
      options: {
        highlightSameNumber: true,
        highlightSelectedBlock: true,
        highlightSelectedLines: true,
      },
    } as IData;
  },
  methods: {
    setOption(option: Partial<IGameOptions>): void {
      this.options = {
        ...this.options,
        ...option,
      };
    },
  },
});
</script>

<style lang="scss">
body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
</style>

<style lang="scss" scoped>
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #2c3e50;
}

.header {
  width: 100%;
  padding: 16px 0;

  h2 {
    margin: 0;
    text-align: center;
  }
}

.game__options {
  margin-top: 24px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
  padding: 16px;
}

.footer__link {
  color: dodgerblue;
  text-decoration: none;
}

.footer__version {
  font-size: 14px;
  color: grey;
}
</style>
